<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628682392864-dakjbfibvnot6jmh27346j90mtuco5m0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628682392864-dakjbfibvnot6jmh27346j90mtuco5m0</string>
	<key>API_KEY</key>
	<string>AIzaSyB48n6lS6qz4lzDltQ7UgiWhVMnY5LvC-I</string>
	<key>GCM_SENDER_ID</key>
	<string>628682392864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>min.SwiftUI-Firebase</string>
	<key>PROJECT_ID</key>
	<string>swiftfulfirebase-2594b</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftfulfirebase-2594b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628682392864:ios:ae93179724b44f2607c345</string>
</dict>
</plist>